In [52]:
lst = [x for x in range(200, 99, -1) if x % 3 == 0]
print(lst)
l = [x for x in range(100, 201) if x % 3 == 0]
print(l.reverse())

[198, 195, 192, 189, 186, 183, 180, 177, 174, 171, 168, 165, 162, 159, 156, 153, 150, 147, 144, 141, 138, 135, 132, 129, 126, 123, 120, 117, 114, 111, 108, 105, 102]
None

In [53]:
n = int(input("Enter the no of elements: "))
#Multiplication table
i = 1
for i in range(11):
    print(n, "X", i, "=", n * i, end=" ")
    print()

11 X 0 = 0
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [54]:
#star pattern print using one for loop
s = 5
for i in range(6):
    print("*" * s)
    s -= 1

*****
****
***
**
*

In [70]:
n = int(input("Enter the no of elements: "))
b = True
if n == 0 or n == 1:
    print("can't say")
    b = False
else:
    for i in range(2, n):
        if n == 2:
            break
        if n % i == 0:
            b = False
            print("No")
            break

if b:
    print("Yes")

Yes

In [78]:
i = 200
while i > 99:
    if i % 5 == 0:
        print(i, end=" ")
    i -= 1
print()

200 195 190 185 180 175 170 165 160 155 150 145 140 135 130 125 120 115 110 105 100

In [3]:
import numpy as np
simple_image = np.array([
    [0, 50, 100, 150, 200],
    [25, 75, 125, 175, 225],
    [50, 100, 150, 200, 255],
    [75, 125, 175, 225, 200],
    [100, 150, 200, 150, 100]
])
simple_image[:,0::2]

array([[  0, 100, 200],
       [ 25, 125, 225],
       [ 50, 150, 255],
       [ 75, 175, 200],
       [100, 200, 100]])

In [5]:
simple_image[1::2,1::2]

array([[ 75, 175],
       [125, 225]])

In [7]:
import pandas as pd
import sqlite3 as sql3

In [9]:
connection=sql3.connect("data/inputs/Users.sqlite")
df=pd.read_sql_query("SELECT * FROM Main.Users", connection)
df

   id          name              email  age           created_at
0   1      John Doe   john@example.com   25  2025-08-13 09:58:37
1   2    Jane Smith   jane@example.com   30  2025-08-13 09:58:37
2   3    Bob Wilson    bob@example.com   35  2025-08-13 09:58:37
3   4   Alice Brown  alice@example.com   28  2025-08-13 09:58:37
4   5  Mike Johnson   mike@example.com   32  2025-08-13 09:58:37