# üêº **Complete Pandas for Data Analysis README** üìä

## üìö **Table of Contents**

- [üî• Introduction](#-introduction)
- [üß† Core Concepts](#-core-concepts)
- [üèóÔ∏è History of Pandas](#-history-of-pandas)
- [üöÄ Installation & Setup](#-installation--setup)
- [üéØ Data Structures](#-data-structures)
- [üìÇ Reading Data](#-reading-data)
- [üíæ Saving Data](#-saving-data)
- [üîç Data Exploration](#-data-exploration)
- [üìà Statistical Analysis](#-statistical-analysis)
- [üéì Best Practices](#-best-practices)
- [üîß Common Issues & Solutions](#-common-issues--solutions)

## üîç **Introduction**

**Pandas** is a powerful, open-source data analysis and manipulation library for Python. It provides data structures and
functions needed to make working with structured data fast, easy, and expressive.[1]

### üåü **Key Features:**

- üìà High-performance data structures
- üîß Data manipulation and analysis tools
- üìä Excel, CSV, JSON file support
- üßÆ Statistical operations
- üîÑ Data merging and joining capabilities

## üß† **Core Concepts**

### üîÑ **Data Manipulation vs Data Analysis**

Understanding these fundamental concepts is crucial:[1]

#### üìù **Data Manipulation**

- **Definition**: The process of changing, organizing, and preparing data to make it useful and easier to understand
- **Goal**: Clean, transform, and structure data for better usability
- **Example**: Fixing a student's grade from 8 to 9 when it was incorrectly entered

#### üìä **Data Analysis**

- **Definition**: Extracting patterns, trends, and insights from data to solve problems and make decisions
- **Goal**: Generate actionable insights from prepared data
- **Example**: Finding which student scored highest/lowest in a class

### üîç **Key Differences:**

| üîß **Data Manipulation**              | üìà **Data Analysis**                          |
|---------------------------------------|-----------------------------------------------|
| üéØ Focus on cleaning & preparing data | üéØ Focus on extracting insights               |
| üî® Organize data for usability        | üìä Find patterns & trends from organized data |
| üßπ Fix errors, handle missing values  | üí° Problem-solving using clean data           |

## üèóÔ∏è **History of Pandas**

### üë®üíª **Creator: Wes McKinney**

- üéØ **Role**: Data Scientist & Software Developer
- üìÖ **Year Created**: 2008 (Released as open source in 2009)
- üè¢ **Company**: AQR Capital Management (Financial Company)

### üí° **Why Was Pandas Created?**

**The Problem:**

1. üìä Working with large financial datasets in time-series format
2. ‚è∞ Manual analysis was time-consuming
3. üîß Limited Python tools for data cleaning, aggregation, and analysis
4. üìã Excel spreadsheets were impractical for large datasets
5. üóÉÔ∏è SQL was good for querying but limited for complex data transformation

**The Solution:**
Wes McKinney decided to create a library with three core features:

- üßπ **Data Cleaning**: Fix errors, remove duplicates, handle missing values
- üìä **Data Aggregation**: Summarize large datasets efficiently
- üìà **Data Analysis**: Extract insights and patterns

### üìà **Pandas Growth Timeline**

- **2009**: üöÄ Open source release
- **2012**: üìö Added to PyData libraries collection
- **2015**: üíØ Reached 1 million downloads per month
- **2020**: üéâ Version 1.0 released (production-ready)

## üöÄ **Installation & Setup**

### üì¶ **Installation Methods**

```bash
# üêç Using pip (Windows/Linux)
pip install pandas

# üçé Using pip (macOS)
pip3 install pandas

# üêç Using conda (Recommended for Data Science)
conda install pandas
```

### üíª **Import Pandas**

In [38]:
import pandas as pd
import sqlite3 as sql3

### üõ†Ô∏è **Recommended Development Environments**

- üÜö **VS Code**: Best for beginners (recommended in tutorial)[1]
- üêç **Anaconda**: Complete data science package
- üìì **Jupyter Notebook**: Interactive development
- üñ•Ô∏è **PyCharm**: Professional IDE with data science features

### üõ†Ô∏è **Recommended Development Environments**

- üÜö **VS Code**: Best for beginners (recommended in tutorial)[1]
- üêç **Anaconda**: Complete data science package
- üìì **Jupyter Notebook**: Interactive development
- üñ•Ô∏è **PyCharm**: Professional IDE with data science features

## üéØ **Data Structures**

### 1Ô∏è‚É£ **Series (1-Dimensional)**

**Definition**: A one-dimensional labeled array that can hold any data type

In [39]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Use Cases:**

- üå°Ô∏è Daily temperature tracking
- üìà Stock price monitoring over time
- üí∞ Sales revenue tracking
- üìä Any single-column data analysis

In [40]:
# Create Series with custom labels
s_labeled = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s_labeled

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [41]:
# Series with different data types
mixed_series = pd.Series(['Alice', 25, 85.5, True])
print(mixed_series)

0    Alice
1       25
2     85.5
3     True
dtype: object

### 2Ô∏è‚É£ **DataFrame (2-Dimensional)**

**Definition**: A two-dimensional labeled data structure with rows and columns (like Excel spreadsheet)

In [42]:
# Create DataFrame from dictionary
employee_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 70000, 55000],
    'Department': ['IT', 'Finance', 'IT', 'Marketing']
}

df = pd.DataFrame(employee_data)
df

      Name  Age  Salary Department
0    Alice   25   50000         IT
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT
3    Diana   28   55000  Marketing

**Key Features:**

- üìã Rows have indices, columns have names
- üèóÔ∏è Can store different data types in different columns
- üîß Similar to database tables, Excel sheets, or CSV files

## üìÇ **Reading Data**

### üìÑ **CSV Files**

**üö® Common Encoding Error Fix:**
If you encounter `UnicodeDecodeError`, try different encoding standards:[1]

- `encoding='utf-8'`
- `encoding='latin-1'`

In [43]:
# Basic CSV reading
#df = pd.read_csv('data/inputs/sales_data_sample.csv')# if this will show error about encoding run given below.

# Handle encoding issues (common problem!)
#df = pd.read_csv('data/inputs/sales_data_sample.csv', encoding='utf-8')
# or
df = pd.read_csv('data/inputs/sales_data_sample.csv', encoding='latin-1')

# Display the data
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

### üìä **Excel Files**

In [44]:
# Read Excel file
df = pd.read_excel('data/inputs/iris.xls')

# Specify sheet name
#df = pd.read_excel('data/inputs/SampleSuperstore.xlsx', sheet_name='Sheet1')

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,NaN,NaN,alpha,obj,NaN,NaN
1,NaN,7,3.2,4.7,1.4,Iris-versicolor,NaN,0.0,0,0,0.0,1.0
2,NaN,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
3,NaN,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
4,NaN,5.5,2.3,4,1.3,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,4.8,3,1.4,0.3,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
97,NaN,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
98,NaN,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
99,NaN,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
100,NaN,5,3.3,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0

### üìã **JSON Files**

In [45]:
# Read JSON file
df = pd.read_json('data/inputs/sample_Data.json')
df

,id,name,description,price,category,image
0,1,Apple iPhone 12,The Apple iPhone 12 features a 6.1-inch Super ...,999.00,Electronics,https://www.apple.com/newsroom/images/product/...
1,2,Samsung Galaxy S21,The Samsung Galaxy S21 features a 6.2-inch Dyn...,799.00,Electronics,https://images.samsung.com/is/image/samsung/p6...
2,3,Sony PlayStation 5,The Sony PlayStation 5 features an AMD Zen 2-b...,499.99,Electronics,https://www.sony.com/image/44baa604124b770c824...
3,4,LG OLED55CXPUA 55-inch 4K OLED TV,The LG OLED55CXPUA 55-inch 4K OLED TV features...,1599.99,Electronics,https://www.lg.com/us/images/tvs/md07501804/ga...
4,5,Bose QuietComfort 35 II Wireless Headphones,The Bose QuietComfort 35 II Wireless Headphone...,299.00,Electronics,https://assets.bose.com/content/dam/Bose_DAM/W...
5,6,Fitbit Versa 3 Smartwatch,The Fitbit Versa 3 Smartwatch features a built...,229.95,Electronics,https://www.fitbit.com/global/content/dam/fitb...
6,7,KitchenAid Stand Mixer,The KitchenAid Stand Mixer features a 5-quart ...,399.99,Home & Kitchen,https://www.kitchenaid.com/content/dam/global/...
7,8,Dyson V11 Absolute Cordless Vacuum,The Dyson V11 Absolute Cordless Vacuum feature...,699.99,Home Appliances,https://www.dysoncanada.ca/dam/dyson/images/pr...
8,9,Ninja Foodi Smart XL Grill,The Ninja Foodi Smart XL Grill features 6-in-1...,279.99,Home & Kitchen,https://www.ninjakitchen.com/medias/Ninja-OP50...
9,10,Canon EOS Rebel T8i DSLR Camera,The Canon EOS Rebel T8i DSLR Camera features a...,899.00,Electronics,https://www.canon.com.au/-/media/images/produc...
10,11,Apple AirPods Pro,The Apple AirPods Pro feature active noise can...,249.00,Electronics,https://www.apple.com/v/airpods-pro/b/images/m...
11,12,Bose QuietComfort 35 II Wireless Headphones,The Bose QuietComfort 35 II Wireless Headphone...,299.00,Electronics,https://assets.bose.com/content/dam/Bose_DAM/W...
12,13,Fitbit Charge 4 Fitness Tracker,The Fitbit Charge 4 Fitness Tracker features G...,129.95,Electronics,https://www.fitbit.com/global/content/dam/fitb...
13,14,Samsung Galaxy Watch3,The Samsung Galaxy Watch3 features a rotating ...,399.99,Electronics,https://images.samsung.com/is/image/samsung/as...
14,15,Sony WH-1000XM4 Wireless Noise-Cancelling Head...,The Sony WH-1000XM4 Wireless Noise-Cancelling ...,349.99,Electronics,https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15,16,Breville Barista Express Espresso Machine,The Breville Barista Express Espresso Machine ...,699.95,Home & Kitchen,https://www.breville.com/content/dam/breville/...
16,17,Keurig K-Elite Coffee Maker,The Keurig K-Elite Coffee Maker features a str...,169.99,Home & Kitchen,https://www.keurig.com/content/dam/global-ecom...
17,18,iRobot Roomba i7+ Robot Vacuum,The iRobot Roomba i7+ Robot Vacuum features au...,799.99,Home & Kitchen,https://store.irobot.com/default/i7-vacuuming-...
18,19,Ninja Foodi Digital Air Fry Oven,The Ninja Foodi Digital Air Fry Oven features ...,209.99,Home & Kitchen,https://www.ninjakitchen.com/static/img/produc...
19,20,Cuisinart ICE-70 Ice Cream Maker,The Cuisinart ICE-70 Ice Cream Maker features ...,139.99,Home & Kitchen,https://www.cuisinart.com/share/images/product...

### üóÑÔ∏è **Database Connection**

In [46]:
# Connect directly to the SQLite file (not using JDBC URL)
conn = sql3.connect('data/inputs/identifier.sqlite')

# Read data from SQL table
df = pd.read_sql_query('SELECT * FROM main.DemoData', conn)

# Close the connection
conn.close()

# Display the dataframe
df

,id,name,email,age,city,salary,is_active,created_date
0,1,John Doe,john.doe@email.com,28,New York,75000,1,2025-08-08
1,2,Jane Smith,jane.smith@email.com,32,Los Angeles,82000,1,2025-08-08
2,3,Mike Johnson,mike.johnson@email.com,25,Chicago,65000,1,2025-08-08
3,4,Sarah Wilson,sarah.wilson@email.com,29,Houston,70000,0,2025-08-08
4,5,David Brown,david.brown@email.com,35,Phoenix,90000,1,2025-08-08
5,6,Lisa Davis,lisa.davis@email.com,27,Philadelphia,68000,1,2025-08-08
6,7,Tom Miller,tom.miller@email.com,31,San Antonio,72000,0,2025-08-08
7,8,Emma Garcia,emma.garcia@email.com,26,San Diego,69000,1,2025-08-08
8,9,Alex Martinez,alex.martinez@email.com,33,Dallas,85000,1,2025-08-08
9,10,Olivia Rodriguez,olivia.rodriguez@email.com,30,San Jose,95000,1,2025-08-08

## üíæ **Saving Data**

### üìÅ **Create Sample Data**

In [47]:
# Create sample DataFrame
data = {
    'Name': ['Ram', 'Shyam', 'Ghanshyam'],
    'Age': [25, 30, 35],
    'City': ['Nagpur', 'Mumbai', 'Delhi']
}

df = pd.DataFrame(data)
df

        Name  Age    City
0        Ram   25  Nagpur
1      Shyam   30  Mumbai
2  Ghanshyam   35   Delhi

### üíæ **Save to Different Formats**

In [48]:
# Save to CSV (recommended: without index)
df.to_csv('data/outputs/output.csv', index=False)

# Save to Excel
df.to_excel('data/outputs/output.xlsx', index=False)

# Save to JSON
df.to_json('data/outputs/output.json')

**üéØ Pro Tip:** Always use `index=False` when saving to avoid unnecessary index column.[1]

## üîç **Data Exploration**

### üëÄ **Viewing Data**

Data exploration is the **most important first step** when analyzing any dataset:[1]

#### üîù **Head & Tail Methods**

In [49]:
df = pd.read_excel('data/inputs/iris.xls')
# View first 5 rows (default)
print("üìä First 5 rows:")
df.head()

üìä First 5 rows:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,NaN,NaN,alpha,obj,NaN,NaN
1,NaN,7,3.2,4.7,1.4,Iris-versicolor,NaN,0.0,0,0,0.0,1.0
2,NaN,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
3,NaN,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
4,NaN,5.5,2.3,4,1.3,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0

In [50]:
# View first 10 rows
print("üìä First 10 rows:")
df.head(10)

üìä First 10 rows:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,NaN,NaN,alpha,obj,NaN,NaN
1,NaN,7,3.2,4.7,1.4,Iris-versicolor,NaN,0.0,0,0,0.0,1.0
2,NaN,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
3,NaN,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
4,NaN,5.5,2.3,4,1.3,Iris-versicolor,NaN,0.0,NaN,NaN,0.0,1.0
5,NaN,6.5,2.8,4.6,1.5,Iris-versicolor,NaN,NaN,NaN,NaN,0.0,1.0
6,NaN,5.7,2.8,4.5,1.3,Iris-versicolor,NaN,NaN,NaN,NaN,0.0,1.0
7,NaN,6.3,3.3,4.7,1.6,Iris-versicolor,NaN,NaN,NaN,NaN,0.0,1.0
8,NaN,4.9,2.4,3.3,1,Iris-versicolor,NaN,NaN,NaN,NaN,0.0,1.0
9,NaN,6.6,2.9,4.6,1.3,Iris-versicolor,NaN,NaN,NaN,NaN,0.0,1.0

In [51]:
# View last 5 rows (default)
print("üìä Last 5 rows:")
df.tail()

üìä Last 5 rows:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
96,NaN,4.8,3,1.4,0.3,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
97,NaN,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
98,NaN,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
99,NaN,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
100,NaN,5,3.3,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0

In [52]:
print("üìä Last 10 rows:")
df.tail(10)

üìä Last 10 rows:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
91,NaN,5,3.5,1.3,0.3,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
92,NaN,4.5,2.3,1.3,0.3,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
93,NaN,4.4,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
94,NaN,5,3.5,1.6,0.6,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
95,NaN,5.1,3.8,1.9,0.4,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
96,NaN,4.8,3,1.4,0.3,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
97,NaN,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
98,NaN,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
99,NaN,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0
100,NaN,5,3.3,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,0.0,1.0

**Benefits:**

- ‚úÖ Verify data loaded correctly
- üîç Understand data organization
- üëÄ Quick overview of data structure

#### ‚ÑπÔ∏è **Info Method - Complete Data Summary**

In [53]:
# Get comprehensive dataset information
print("üìã Dataset Information:")
df.info()

üìã Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   101 non-null    object
 2   Unnamed: 2   101 non-null    object
 3   Unnamed: 3   101 non-null    object
 4   Unnamed: 4   101 non-null    object
 5   Unnamed: 5   101 non-null    object
 6   Unnamed: 6   0 non-null      float64
 7   Unnamed: 7   4 non-null      float64
 8   Unnamed: 8   2 non-null      object
 9   Unnamed: 9   2 non-null      object
 10  Unnamed: 10  100 non-null    float64
 11  Unnamed: 11  100 non-null    float64
dtypes: float64(5), object(7)
memory usage: 9.6+ KB


**What `.info()` provides:**

- üìè **Number of rows and columns**
- üìã **Column names**
- üè∑Ô∏è **Data types** (int64, float64, object)
- üîç **Non-null counts** (identify missing data)
- üíæ **Memory usage**

**Data Type Meanings:**

- `object`: String or categorical data (names, cities)
- `int64`: Integer numbers (age, quantity)
- `float64`: Decimal numbers (prices, percentages)

### üìä **Basic Data Properties**

In [54]:
# Dataset dimensions
print(f"üìè Shape: {df.shape}")  # (rows, columns)

# Number of rows
print(f"üìä Number of rows: {len(df)}")

# Column names
print(f"üìã Columns: {list(df.columns)}")

# Data types
print(f"üè∑Ô∏è Data types:\n{df.dtypes}")

üìè Shape: (101, 12)
üìä Number of rows: 101
üìã Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']
üè∑Ô∏è Data types:
Unnamed: 0     float64
Unnamed: 1      object
Unnamed: 2      object
Unnamed: 3      object
Unnamed: 4      object
Unnamed: 5      object
Unnamed: 6     float64
Unnamed: 7     float64
Unnamed: 8      object
Unnamed: 9      object
Unnamed: 10    float64
Unnamed: 11    float64
dtype: object

## üìà **Statistical Analysis**

### üìä **Describe Method - Powerful Statistical Summary**

The `describe()` method provides comprehensive **descriptive statistics** for numerical columns:

In [55]:
conn = sql3.connect('data/inputs/identifier.sqlite')

# Read data from SQL table
df = pd.read_sql_query('SELECT * FROM main.DemoData', conn)

# Close the connection
conn.close()
# Generate statistical summary
print("üìä Statistical Summary:")
df.describe()

üìä Statistical Summary:

             id        age        salary  is_active
count  10.00000  10.000000     10.000000  10.000000
mean    5.50000  29.600000  77100.000000   0.800000
std     3.02765   3.204164  10268.073497   0.421637
min     1.00000  25.000000  65000.000000   0.000000
25%     3.25000  27.250000  69250.000000   1.000000
50%     5.50000  29.500000  73500.000000   1.000000
75%     7.75000  31.750000  84250.000000   1.000000
max    10.00000  35.000000  95000.000000   1.000000

**What `describe()` shows:**

- üìä **Count**: Number of non-null values
- üìà **Mean**: Average value
- üìè **Std**: Standard deviation
- üîΩ **Min**: Minimum value
- üìä **25%**: First quartile
- üìä **50%**: Median (second quartile)
- üìä **75%**: Third quartile
- üîº **Max**: Maximum value

## üéì **Best Practices**

### ‚úÖ **Do's**

1. **üè∑Ô∏è Consistent Naming**
   ```python
   # Always use 'pd' alias for pandas
   import pandas as pd

   # Use meaningful variable names
   employee_df = pd.DataFrame(data)  # Good
   df = pd.DataFrame(data)  # Acceptable for small scripts
   ```

2. **üîç Always Explore First**
   ```python
   # Essential exploration steps
   print(df.head())          # Preview data
   print(df.info())          # Understand structure
   print(df.describe())      # Statistical summary
   ```

3. **üíæ Save Without Index**
   ```python
   # Always specify index=False unless needed
   df.to_csv('output.csv', index=False)
   df.to_excel('output.xlsx', index=False)
   ```

4. **üîß Handle Encoding Issues**
   ```python
   # Be prepared for encoding problems
   try:
       df = pd.read_csv('data.csv')
   except UnicodeDecodeError:
       df = pd.read_csv('data.csv', encoding='latin-1')
   ```

### ‚ùå **Don'ts**

1. **üö´ Don't Skip Data Exploration**
   ```python
   # Bad: Loading and immediately processing
   df = pd.read_csv('data.csv')
   result = df.groupby('column').sum()  # Don't know what's in the data!

   # Good: Explore first
   df = pd.read_csv('data.csv')
   print(df.head())
   print(df.info())
   # Now process with understanding
   ```

2. **üö´ Don't Ignore Data Types**
   ```python
   # Always check data types
   print(df.dtypes)

   # Convert if necessary
   df['age'] = df['age'].astype('int64')
   df['price'] = df['price'].astype('float64')
   ```

3. **üö´ Don't Use Loops When Vectorization Available**
   ```python
   # Bad: Using loops
   for i in range(len(df)):
       df.loc[i, 'new_col'] = df.loc[i, 'col1'] * 2

   # Good: Vectorized operation
   df['new_col'] = df['col1'] * 2
   ```

## üîß **Common Issues & Solutions**

### üö® **Encoding Errors**

**Problem**: `UnicodeDecodeError` when reading files

**Solution**:

```python
# Try different encodings
df = pd.read_csv('file.csv', encoding='utf-8')
# or
df = pd.read_csv('file.csv', encoding='latin-1')
```

### üìä **Large Files**

**Problem**: Memory issues with large datasets

**Solution**:

```python
# Read in chunks
chunk_list = []
for chunk in pd.read_csv('large_file.csv', chunksize=1000):
    # Process chunk
    processed_chunk = chunk.dropna()
    chunk_list.append(processed_chunk)

# Combine chunks
df = pd.concat(chunk_list, ignore_index=True)
```

### üåê **Cloud Data**

**Problem**: Reading data from cloud storage

**Solution**:

```python
# Read directly from URL
url = 'https://example.com/data.csv'
df = pd.read_csv(url)
```

## üéâ **Quick Reference Cheat Sheet**

```python
# üöÄ Essential Pandas Operations Cheat Sheet

import pandas as pd

# üìÅ Reading Data
df = pd.read_csv('file.csv')
df = pd.read_excel('file.xlsx')
df = pd.read_json('file.json')

# üëÄ Viewing Data
df.head()  # First 5 rows
df.tail()  # Last 5 rows
df.head(10)  # First 10 rows
df.tail(10)  # Last 10 rows

# ‚ÑπÔ∏è Dataset Information
df.info()  # Complete dataset info
df.describe()  # Statistical summary
df.shape  # Dimensions (rows, cols)
len(df)  # Number of rows
df.columns  # Column names
df.dtypes  # Data types

# üíæ Saving Data
df.to_csv('file.csv', index=False)
df.to_excel('file.xlsx', index=False)
df.to_json('file.json')

# üèóÔ∏è Creating DataFrame
data = {'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']}
df = pd.DataFrame(data)
```

## üèÜ **Next Steps & Advanced Topics**

This tutorial covers **Part 1: Pandas Basics**. The instructor mentions **Part 2: Advanced Pandas** will cover:

- üîß Advanced data manipulation techniques
- üîÑ Data merging and joining
- üìä Group by operations
- üßπ Advanced data cleaning
- üìà Time series analysis
- üéØ Performance optimization

## üéØ **Final Tips**

1. **üèÉ‚ôÇÔ∏è Practice Regularly**: The more you code, the more confident you'll become
2. **üîç Always Explore**: Never skip the data exploration phase
3. **üìù Take Notes**: Keep track of useful methods and techniques
4. **ü§ù Join Communities**: Connect with other learners and professionals
5. **üöÄ Build Projects**: Apply your skills to real-world problems

**Happy Data Analysis! üêºüìä‚ú®**

*Remember: The best way to learn Pandas is through hands-on practice. Start with small datasets, explore thoroughly, and
gradually work with more complex data!*

**üè∑Ô∏è Tags:** `#Python` `#Pandas` `#DataScience` `#DataAnalysis` `#MachineLearning` `#Statistics` `#CSV` `#Excel`
`#DataCleaning` `#DataVisualization` `#BeginnerFriendly` `#Tutorial`

[1] https://www.youtube.com/watch?v=qrMnoY8qBJM